{{!-- <!-- Header --> --}}
<nav class="black">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">NightRiders MC</a>
    <ul class="right hide-on-med-and-down">
      <li id="navAbout" class="hoverable"><a href="#" 
target="_blank">About Us</a></li>
      <li id="navStarted" class="hoverable"><a href="#">Get Started</a></li>
      <li id="navFind" class="hoverable"><a href="#">Find My Trip</a></li>
    </ul>
  </div>
</nav>
{{!-- <!-- Content --> --}}
<div class="parallax-container center valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 white-text">
        <h3 class="blue-text blue-text text-darken-4">No planning, just riding.</h3>
        <p>Are you a veteran rider, new to the MC scene, or just looking to meet with fellow lovers of the open
          road. <br> Join <strong>Night Rider’s MC</strong> for the opportunity of a lifetime. </p>
        <br>
          <button data-target="modal1" class="btn modal-trigger waves-effect waves-light btn-large blue darken-4">Get Started</button>
      </div>
    </div>
    {{!-- <!-- Modal Structure --> --}}
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Join NightRiders MC</h4>
    <p>Enter you username and password. If you don't have an account SignUp.</p>
    <form class="col s12">
      <div id="signUp_Show" class="row">
        <div class="input-field col s6">
          <input id="user_name" type="text" class="validate">
          <label for="user_name"> Username</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div id="signUp_Hide" class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s6">
          <input id="user_email" type="text" class="validate">
          <label for="user_email">Email</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

  </div>
  <div class="parallax">
    <img src="/images/img09_1440x832.jpg">
  </div>
</div>


{{!-- Trip Cards --}}
<div class="container">
  <div class="row">
        <div class="col s12 center">
          <br>
          <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1 ">Our Trips</h6>
          <br>
          <h4 class="blue-text blue-text text-darken-4">Featured Trips</h4>
          <p>Vestibulum lorem sed risus ultricies tristique nulla aliquet.
            <br> Join to view more trips.</p>
          <br>
        </div>
      </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/images/img01_1440x832.jpg">
          <span class="card-title">Las Vegas, Nevada</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am convenient because I
            require little markup to use effectively.</p>

          <h6 class="text-center mt-2 blue-text"><i class="far fa-clock"></i> 13 Days</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-route"></i> 16,000 Miles</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-road"></i> Smooth Terrain</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-map-marker-alt"></i> Philadelphia</h6>

        </div>
      </div>
    </div>
    {{!-- card Num 2 --}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/images/img02_1440x832.jpg">
          <span class="card-title">Dallas, Texas</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am convenient because I
            require little markup to use effectively.</p>

          <h6 class="text-center mt-2 red-text"><i class="far fa-clock"></i> 13 Days</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-route"></i> 16,000 Miles</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-road"></i> Smooth Terrain</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-map-marker-alt"></i> Philadelphia</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{!-- card Number 3 --}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/images/img03_1440x832.jpg">
          <span class="card-title">Seattle, Washington</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am convenient because I
            require little markup to use effectively.</p>

          <h6 class="text-center mt-2 green-text"><i class="far fa-clock"></i> 13 Days</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-route"></i> 16,000 Miles</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-road"></i> Smooth Terrain</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-map-marker-alt"></i> Philadelphia</h6>
        </div>
      </div>
    </div>

    {{!-- card Number 4 --}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/images/img07_1440x832.jpg">
          <span class="card-title">Wardsville, Missouri</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am convenient because I
            require little markup to use effectively.</p>

          <h6 class="text-center mt-2 blue-text"><i class="far fa-clock"></i> 13 Days</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-route"></i> 16,000 Miles</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-road"></i> Smooth Terrain</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-map-marker-alt"></i> Philadelphia</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{!-- card Number 5 --}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/images/img05_1440x832.jpg">
          <span class="card-title">Concord, New Hampshire</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am convenient because I
            require little markup to use effectively.</p>

          <h6 class="text-center mt-2 blue-text"><i class="far fa-clock"></i> 13 Days</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-route"></i> 16,000 Miles</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-road"></i> Smooth Terrain</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-map-marker-alt"></i> Philadelphia</h6>
        </div>
      </div>
    </div>

    {{!-- card Number 6 --}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/images/img06_1440x832.jpg">
          <span class="card-title">Athens, Georgia</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am convenient because I
            require little markup to use effectively.</p>

          <h6 class="text-center mt-2 blue-text"><i class="far fa-clock"></i> 13 Days</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-route"></i> 16,000 Miles</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-road"></i> Smooth Terrain</h6>
          <h6 class="text-center mt-2"> <i class="fas fa-map-marker-alt"></i> Philadelphia</h6>
        </div>
      </div>
    </div>
  </div>
</div>



{{!-- About section Here --}}
<div id="bgContain">
  <div class="container">
    <div class="section grey lighten-3">
      <div class="row">
        <div class="col s12 center">
          <br>
          <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1 ">About Us</h6>
          <br>
          <h4 class="blue-text blue-text text-darken-4">Ride in 3 Steps</h4>
          <p>Vestibulum lorem sed risus ultricies tristique nulla aliquet.
            <br> Ut aliquam purus sit lectus magna.</p>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block center">
            <a href="#"
              class="btn-floating blue darken-1 btn-large"><i class="fas fa-user-plus"></i></a>
            <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1">Step One</h6>
            <p>Register your account.</p>
          </div>
        </div>
         <div class="col s12 m4">
          <div class="icon-block center">
            <a href="#"
              class="btn-floating blue darken-1 btn-large"><i class="fas fa-map"></i></a>
            <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1">step Two</h6>
            <p>Choose your trip.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block center">
            <a href="#"
              class="btn-floating blue darken-1 btn-large"><i class="fas fa-comments"></i></a>
            <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1">step three</h6>
            <p>Submit your payment.</p>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Other parallex scroll --}}

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/images/img01_1440x832.jpg" alt="Unsplashed background img 3"></div>
</div>



<div id="bgContain-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <br>
          <h6 class="secBreadcrumbs text-white white-text text-lighten-1 ">Join a Trip</h6>
          <br>
          
          <h4 class="white-text white-text">Your Almost There.</h4>
          <p class="white-text white-text">Sign in or create an account to explore all of our offerings.</p>
          
          <br>
           <br>
           <button data-target="modal1" class="btn modal-trigger waves-effect waves-light btn-large blue darken-4">Start Riding</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Script -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script type="text/javascript" src="/js/index.js"></script>