.parallax-containerImg {
  height: 400px;
  }
  
    .secBreadcrumbs {
        text-transform: uppercase;
        font-weight: bold;
  
    }
  
    #bgContain {
        background-color: #eceff1;
    }
  
    #bgContain-5 {
        background-color: #0d47a1;
    }